

.Admin-MainContainer{
    border: 0.1rem solid red;
    background-color: rgba(250, 246, 252, 0.83);
    width: 100%;
    min-height: 60rem;
    margin-top: 7rem;
    display: flex;
}

.Admin-LeftPart{
    width: 30rem;
    border: 0.1rem solid black;

}

.Admin-CenterPart{
    width: 70rem;
    border: 0.1rem solid red;
    padding: 1rem;
    
}

.Admin-RightPart{
    width: 30rem;
    border: 0.1rem solid black;
    
}