


.Main-Conatiner{
    border: 0.1rem solid red;
    width: 100%;
    min-height: 50rem;
    margin-top: 10rem;
    display: flex;
    padding: 0rem 2rem;
    font-size: 1.6rem;
}

.Left-part{
    width: 30rem;
    border: 0.1rem solid black;
}

.center-part{
    width: 60rem;
    border: 0.1rem solid black;
}

.Right-part{
    width: 40rem;
    border: 0.1rem solid black;
}


.Center-Container{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}