

.Mobile_Drawer_InnerContainer{
display: block;
width: 100%;
background-color: #fff;
transition-property: width;
transition-duration: 0.3s;
transition-timing-function: ease-in-out;
transition-delay: 5s;

}


.Hide_Mobile_Drawer_InnerContainer{
display: none;
transition-property: width;
transition-duration: 0.3s;
transition-timing-function: ease-in-out;
}

.Drawer_user_Det{
width: 100%;
padding-bottom: 0.2rem;
border-bottom: 0.1rem solid orangered;
}

.Drawer_UserImage{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 5rem;
}

.DrawerPic_box{
width: 4.5rem;
height: 4.5rem;
border: 00.1rem solid gray;
border-radius: 50%;
}
.DrawerPic_box img{
width: 100%;
height: 100%;
border-radius: 50%;
}

.Drawer_userName{
display: flex;
justify-content: center;
align-items: center;
}


.Drawer_FeatureList_Container{
width: 100%;
border-bottom: 0.1rem solid gray;
min-height: 30rem;
}

.Drawer_featureBox{
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
}

.Drawer_featureBox:hover{
background-color: #111;
}



.Drawer_featureBox .Feature_iconBox{
 width: 30%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.Drawer_featureBox .Feature_TitleBox{
 height: 100%;
 display: flex;
 align-items: center;
 width: 70%;
 }

 .Drawe_PolicyContiner{
     margin-top: 1rem;
     width: 100%;
     min-height: 10rem;
 }

 .Pravcy_optionBox{
     display: flex;
     align-items: center;
     padding-left: 1rem;
     width: 100%;
     height: 3rem;
     
 }

